footer {
  position: fixed;
  bottom: 0px;
  background-color: #000000;
  width: 100%;
  margin-top: 0;
  height: 125px;
}

footer {
  .presets .presets-title {
    border-bottom: .04em solid white;
    width: 40%;
    margin: 0 auto;
  }

  .border {
    height: 1.5em;
  }

  .player-container {
    width:100%;
    height: 50%;
  }
}



@media (min-width: 1050px) {
.audio-player-station-name {
  font-weight: bold;
  letter-spacing: 1em;
  word-break: break-all;
  max-width: 3.8em;
  overflow: wrap;
  font-size: 40px;
  height: 0px;
  color:#fff;
  text-decoration: overline;
  display: inline-block;
  padding-left: 10px;
  text-align: justify;
  float:left;

  }
}

@media (max-width: 1049px) {
.audio-player-station-name {
  font-weight: bold;
  letter-spacing: 1em;
  word-break: break-all;
  max-width: 3.8em;
  overflow: wrap;
  font-size: 30px;
  height: 0px;
  color:#fff;
  text-decoration: overline;
  display: inline-block;
  padding-left: 10px;
  text-align: justify;
  float:left;

  }
}

.audio-player-station-mobile {
   font-weight: bold;
  letter-spacing: 1em;
  word-break: break-all;
  max-width: 3.8em;
  overflow: wrap;
  font-size: 15px;
  height: 0px;
  color:#fff;
  text-decoration: overline;
  display: inline-block;
  padding-left: 10px;
  text-align: justify;

}

.audio-player-station-name:hover {
    text-shadow: 2px 2px 2px rgb(100, 100, 100);
    cursor: default;
  }

.audio-player-play-button {
color: #fff;
}

.audio-player-presets {
  color: white;
  cursor: default;
}



.presets .border-right {
  border-right: 0.04em solid white;
}
.presets {
  .presets-title{
    font-weight: bold;
    color: white;
  }
  .presets-station:hover {
    text-shadow: 2px 2px 2px rgb(100, 100, 100);
    cursor: default;
  }

}

.fa-volume-up {
  color: #fff;
}

footer .fa-spinner {
  color:#fff;
}

.fa-volume-off {
  color:#fff;
}

.seek-button {
  color: #fff;
}

.playing-preset {
  color: #00ff99;
}




