.expanded-station-name {
  font-weight: bold;
  letter-spacing: 1em;
  word-break: break-all;
  max-width: 3.8em;
  overflow: wrap;
  font-size: 40px;
  text-align: justify;
  margin-left: 100px;

}
.expanded-station-name:hover {

  text-shadow: 2px 2px 2px rgb(100, 100, 100);
  cursor: default;

}

@media (max-width: 700px) {
  .expanded-station-name {
    font-weight: bold;
  letter-spacing: 1em;
  word-break: break-all;
  max-width: 3.8em;
  overflow: wrap;
  font-size: 30px;
  height: 0px;
  text-align: justify;
  margin-bottom: 90px;


  }
}

.info-expanded {
  background-color: #89cff0;
  width: 100%;
  align-items: center;
  margin-top: 25px;

  .presets {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .station-details {
    margin-right: 25px;
  }
}

.expanded-buttons {
  margin-bottom: 25px;
}

.station-branding {
  font-size: 4em;
}

.station-row {
  padding-top: 25px;
}

.info {
  text-align: left;
}

.description, .location, .homepage {
  margin-bottom: 10px;
}

