h1 {
  text-align: right;
  padding-right:10%;
  text-shadow: 2px 2px #e4c4c4;

}

h3 {
  padding-left: 10%;
  margin: 0;
}

.app-container {
  transition: background-color 1000ms linear;
  position: fixed;
  height:100%;
  width:100%;
  background : linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
  linear-gradient(63deg, transparent 74%, #999 78%),
  linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
  #444;
  background-size: 16px 48px;

}

.brand-name {
  text-align: right;
}

.description h3 {
  text-align: left;
  text-shadow: 2px 2px #e4c4c4;
  margin-top: 50px;
}

.station-container1 {
  display: flex;
  width: 100%;
  background-color: #fff;
  height: 100px;
  -webkit-clip-path: polygon(0 43%, 100% 14%, 100% 100%, 0 100%);
  clip-path: polygon(0 43%, 100% 14%, 100% 100%, 0 100%);
  align-items: center;
  margin-bottom: -10px;
}

.station-container2 {
  display: flex;
  width: 100%;
  background-color: #fff;
  height: 100px;
  -webkit-clip-path: polygon(0 14%, 100% 43%, 100% 100%, 0 100%);
  clip-path: polygon(0 14%, 100% 43%, 100% 100%, 0 100%);
  align-items: center;
  margin-bottom: -10px;
}

.station-list-container {
  margin-bottom: 200px;
}

.info-container {
  transition: 500ms 0ms, opacity 500ms 500ms;
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;
  margin-bottom: -10px;
}

@media (min-width: 400px){
.station-list-container {
  margin-bottom: 250px;
  }
}

@media (min-width: 550px) {
  .station-list-container {
  margin-bottom: 350px;
  }
}


footer {
  position: fixed;
  bottom: 0px;
  background-color: #b3e0da;
  width: 100%;
  margin-top: 0;
  height: 75px;
}

.card-play-button  {
  font-size: 35px;
}

.card-chevron {
  font-size: 20px;
}



.station-branding {
  font-size: 4em;
  text-align: right;
}

.info {
  padding-top: 10;
  text-align: left;
}

.hide-class {
  display: none;
}


.border{

  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;

}

#loader {
  display: none;
}


.center {
  text-align: center;
}

.center-align {
  margin: 0 auto;
  width: 80%;
}

.fa:hover {
  text-shadow: 2px 2px 2px rgb(100, 100, 100)
}

.no-opacity {
  opacity: 1;
}

.station-row {
  padding-top: 25px;
}

.info-expanded {
  background-color: #89cff0;
}