h1 {
text-align: right;
padding-right:10%;
}

h3 {
  padding-left: 10%;
  margin: 0;
}

.app-container {
  transition: background-color 1000ms linear;
  position: absolute;
  width:100%;

}

.brand-name {
  text-align: right;
}

.description h3 {
  text-align: left;
}

.station-container {
  display: flex;
  width: 100%;
  background-color: #fff;
  opacity: 0.75;
  height: 100px;
  margin-top: 10px;
  transform: skew(-21deg) rotate(-21deg);
  box-shadow: 1px 3px 30px rgba(0,0,0,0.4);
  align-items: center;
}
.station-name {
  transform: skew(21deg) rotate(21deg);
}


.station-list-container {
  margin-bottom: 200px;
}


@media (min-width: 400px){
.station-list-container {
  margin-bottom: 250px;
  }
}

@media (min-width: 550px) {
  .station-list-container {
  margin-bottom: 350px;
  }
}


footer {
  position: fixed;
  bottom: 0px;
  background-color: #b3e0da;
  width: 100%;
  margin-top: 0;
  height:120px;
}



.info-container {
  transition: 500ms 0ms, opacity 500ms 500ms;
  display: flex;
  width: 100%;
  background-color: #fff;
  opacity: 0.75;
  transform: skew(-21deg) rotate(-21deg);
  box-shadow: 1px 3px 30px rgba(0,0,0,0.4);
  align-items: center;
  margin-top: -10px
}

.card-play-button  {
  transform: skew(21deg) rotate(21deg);
  font-size: 35px;
}

.card-chevron {
  transform: skew(21deg) rotate(21deg);
  font-size: 20px;
}



.station-branding {
  font-size: 4em;
  text-align: right;
}

.info {
  padding-top: 10;
}

.content {
  display: none;
}


.border{

  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;

}

#loader {
  display: none;
}


.center {
  text-align: center;
}

.center-align {
  margin: 0 auto;
  width: 80%;
}

