body {
  background-color: #b3e0da;
}

h3 {
  margin-bottom: 150px;
}
.station-container {
  display: flex;
  width: 100%;
  background-color: #fff;
  opacity: 0.75;
  height: 100px;
  margin-top: 10px;
  transform: skew(-21deg) rotate(-21deg);
  box-shadow: 1px 3px 30px rgba(0,0,0,0.4);
  align-items: center;
}
.content {
  display: none;
}


.border{

  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;

}

#loader {
  display: none;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #b3e0da;
  margin-bottom: 25px;
  width: 100%;
}

.center {
  text-align: center;
}

.center-align {
  margin: 0 auto;
  width: 80%;
}

